.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #0f1a2b;
}


.field {
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 14px;
}


.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  align-items: center;
}


.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.add-btn {
  background: none;
  border: none;
  color: #0f1a2b;
  font-size: 14px;
  cursor: pointer;
}

.remove-btn {
  background: #ffe5e7;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}


.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.primary {
  background: #0d1b2a;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.secondary {
  background: #f1f4f7;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
}
